/* Basic settings */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    background: #ed6f6f;
    background: linear-gradient(90deg, rgba(237, 111, 111, 1) 0%, rgba(255, 198, 77, 1) 100%);
}

/* Make sure the height fits the display */

#root {
    height: 60vh;
}

/* Heading */

h1 {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(185, 39, 39, 0.452);
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 10px 5px 5px rgba(190, 68, 68, 0.37);
}

/* Logo */

#logo {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Input styling */

.input-container {
    background-color: rgba(185, 39, 39, 0.452);
    box-shadow: 10px 5px 5px rgba(190, 68, 68, 0.37);
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px 0;
    margin-bottom: 15px;
}

#input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    max-width: 450px;
    margin-bottom: 10px;
    text-align: center;
}

.checkbox {
    accent-color: rgb(131, 7, 7);
}

#advanced-search-container {
    color: white;
    margin-bottom: 20px;
}

#submit {
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    background-color: rgba(99, 4, 4, 0.466);
    margin-bottom: 10px;
}

#submit:hover {
    cursor: pointer;
    background-color: rgba(99, 4, 4, 0.2);
}

#submit:active {
    cursor: pointer;
    background-color: rgba(99, 4, 4, 0.1);
}

/* Filters */

.filter-button {
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.filter-button:hover {
    cursor: pointer;
    background-color: rgba(99, 4, 4, 0.466);
}

.column-filter-container {
    margin-bottom: 10px;
}

.column-filter-table {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.column-filter-table td {
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.column-filter-table td:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
}

/* Output message */

#output-msg {
    color: white;
    background-color: rgba(185, 39, 39, 0.452);
    box-shadow: 10px 5px 5px rgba(190, 68, 68, 0.37);
    width: 90%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

/* Table with results */

.results-table-container {
    overflow-x: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.results-table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(65, 0, 0);
    border-collapse: collapse;
    height: 100%;
    margin-bottom: 30px;
}

.results-table th,
.results-table td {
    padding: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.results-table tr:nth-child(odd) {
    background-color: rgb(255, 255, 255, 0.1);
    /* Zebra table for better visibility */
}

.results-table tbody tr:hover {
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.results-table tr {
    cursor: default;
}

.results-table thead tr th {
    background-color: rgba(185, 39, 39, 0.452);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(185, 39, 39, 0.452);
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar-corner {
    background: rgba(185, 39, 39, 0.452);
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar-thumb {
    background: rgba(185, 39, 39, 0.452);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(185, 39, 39, 0.8);
}

/* Transitions */

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease;
}